/* =========================
   BASIS
========================= */

body {
    font-family: system-ui, -apple-system, Arial, sans-serif;
    margin: 0;
    background: #f6f8fb;
    color: #1f2937;
    line-height: 1.6;
}

/* =========================
   NAVIGATION TOP
========================= */

nav {
    display: flex;
    align-items: center;
    gap: 25px;

    padding: 15px 20px;
    background: white;
    border-bottom: 1px solid #e5e7eb;
}

nav a {
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 6px;
    color: #2563eb;
    font-weight: 500;
}

nav a:hover {
    background: #eef2ff;
}

.nav a.active {
    background: #e0e7ff;
    color: #1d4ed8;
}

/* =========================
   LAYOUT (GRID SYSTEM)
========================= */

.layout {
    display: grid;
    grid-template-columns: 100px 1fr;
    transition: grid-template-columns 0.3s ease;
    padding-right: 20px;
    gap: 0;
}

.layout.sidebar-open {
    grid-template-columns: 260px 1fr;
}

/* =========================
   SIDEBAR
========================= */

.sidebar {
    opacity: 0;
    pointer-events: none;
    padding: 0;
    transition: opacity 0.2s ease, padding 0.2s ease;
    border-right: 1px solid #e5e7eb;
    box-shadow: 2px 0 6px rgba(0,0,0,0.04);
}

.layout.sidebar-open .sidebar {
    overflow: hidden;
    background: white;
    opacity: 1;
    pointer-events: auto;
    gap: 20px;
}

/* =========================
   SIDEBAR NAV LINKS
========================= */

.side-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav li {
    margin: 8px 0;
}

.side-nav a {
    text-decoration: none;
    color: #2563eb;
    display: block;
    padding: 6px 8px;
    border-radius: 6px;

    font-size: 14px;
}

.side-nav a:hover {
    background: #eef2ff;
}

.side-nav a.active {
    color: black;
    background: #FCECD4;
}

/* =========================
   TOGGLE BUTTON
========================= */

.sidebar-toggle {
    margin-right: 20px;

    font-size: 18px;
    padding: 10px 15px;

    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;

    cursor: pointer;
}

/* =========================
   CARDS
========================= */

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    margin-bottom: 20px;
}

/* =========================
   BUTTONS
========================= */

.button {
    display: inline-block;
    padding: 10px 15px;
    background: #2563eb;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.button:hover {
    background: #1d4ed8;
}

/* =========================
   TYPOGRAPHIE
========================= */

h1, h2, h3 {
    color: #111827;
}