
/* layout debug

* {
    outline: 1px solid red;
}

*/

/* =========================
   BASIS
========================= */

body {
    font-family: system-ui, -apple-system, Arial, sans-serif;
    margin: 0;
    background: #f6f8fb;
    color: #1f2937;
    line-height: 1.6;
}

/* =========================
   NAVIGATION TOP
========================= */

nav {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 15px 20px;
    background: white;
    border-bottom: 1px solid #e5e7eb;
    transition:
        background-color .2s ease,
        color .2s ease,
        transform .15s ease;
}

nav a {
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 6px;
    color: #374151;
    font-weight: 500;
}

nav a:hover {
    background: #eef2ff;
    color:#2563eb;
    transform:translateY(-1px);
}

/*
.nav a.active {
    color:#111827;
    font-weight:600;
}
*/

.nav-cards{
    display:flex;
    padding:10px;
    flex-direction:column;
    gap:14px;
}

.nav-card{
    display:block;
    padding:10px;
    background:white;
    border:1px solid #e5e7eb;
    border-radius:12px;
    text-decoration:none;
    color:inherit;
}

/*
.nav-card:visited{
    color:inherit;
}
*/

.nav-card h4{
    margin:0;
    font-size:1rem;
    color:#111827;
}

.nav-card p{
    margin:.55rem 0 .55rem;
    font-size:.92rem;
    color:#6b7280;
    line-height:1.45;
}

/* =========================
   LAYOUT (GRID SYSTEM)
========================= */

.layout {
    display: grid;
    grid-template-columns: 0px minmax(0, 1fr);
    transition: grid-template-columns 0.3s ease;
    width: 100%;
    overflow-x: hidden;
}

.layout.sidebar-open {
    grid-template-columns: 260px minmax(0, 1fr);
}

/* =========================
   SIDEBAR
========================= */

.sidebar {
    min-width: 0;
    box-sizing: border-box;
    padding: 0;
    opacity: 0;
    transition: opacity 0.2s ease, padding 0.2s ease;
    border-right: 1px solid #e5e7eb;
    box-shadow: 2px 0 6px rgba(0,0,0,0.04);
    pointer-events: none;
}

.layout.sidebar-open .sidebar {
    padding: 10px;
    overflow: hidden;
    background: white;
    opacity: 1;
    pointer-events: auto;
}

/* =========================
   SIDEBAR NAV
========================= */

.side-nav {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.side-nav li {
    margin: 10px 0;
}

.side-nav a {
    text-decoration: none;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 20px;
    color: #2563eb;
    display: block;
    border-radius:0 8px 8px 0;
    border-left:3px solid transparent;
    font-size: 14px;
}

.side-nav a:hover {
    background: #eef2ff;
}

.side-nav a.active {
    color: #2563eb;
    background: #eff6ff; /* #fcecd4; */
  /*  border-left: 5px solid #2563eb; */
    border-left-color:#2563eb;
}

/* =========================
   CONTENT
========================= */

.content {
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 40px 80px;
}

.content-inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* =========================
   HERO SECTION
========================= */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 72px);
    background-color: transparent;
    transform: translateY(-30px);
}

.hero-text {
    flex: 1;
    max-width: 50%;
}

.hero-text h1 {
    font-size: 2rem;
}

.hero-text p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hero-image {
    flex: 1;
    max-width: 40%;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    display: flex;
    /* border-radius: 12px; */
    object-fit: cover;
}

/* =========================
   PLOT
========================= */

.plot-container {
    max-width: 100%;
    overflow: hidden;
}

#plot {
    width: 100%;
    max-width: 100%;
    height: 500px;
}

/* =========================
   TOGGLE BUTTON
========================= */

.sidebar-toggle {
    margin-right: 20px;
    font-size: 18px;
    padding: 10px 15px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
}

/* =========================
   CARDS
========================= */

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.card-with-image {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-with-image img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.card-text {
    flex: 1;
}

/* =========================
   BUTTONS
========================= */

.button {
    display: inline-block;
    align-items: center;
    padding: 20px 20px;
    background: #2563eb;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.button:hover {
    background: #1d4ed8;
}

.button-group {
    display: flex;
    gap: 1rem;
}

.button-group a {
    flex: 1;
    text-align: center;
}

.equal-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/* =========================
   TYPOGRAPHIE
========================= */

h1,
h2,
h3 {
    color: #111827;
}

/* =========================
    GRADIENTEN
========================= */

.gradient-text {
    display: inline-block;

    background-image: linear-gradient(
        75deg,
        #2563EB,
        #06B6D4,
        #7C3AED,
        #2563EB
    );

    background-size: 300% 100%;
    background-position: 0 0;

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;

    animation: gradient 20s ease-in-out infinite alternate;
}

@keyframes gradient {
    0%   { background-position: 0%; }
    100% { background-position: 300%; }
}

.gradient-button-fill {
    padding: 10px 15px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    color: white;

    background:
        linear-gradient(
            75deg,
            #2563EB,
            #06B6D4,
            #7C3AED,
            #2563EB
        ) padding-box,
        linear-gradient(
            75deg,
            #2563EB,
            #06B6D4,
            #7C3AED,
            #2563EB
        ) border-box;

    background-size: 150% 150%;
}

.gradient-button {
    padding: 10px 15px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    color: black;

    background:
        linear-gradient(#f6f8fb, #f6f8fb) padding-box,
        linear-gradient(
            75deg,
            #2563EB,
            #06B6D4,
            #7C3AED,
            #2563EB
        ) border-box;

    background-size: 150% 150%;
}

.gradient-side-nav {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.gradient-side-nav li {
    margin: 10px 0;
}

.gradient-side-nav a {
    align-items: center;
    text-align: center;
    padding: 10px;
    min-height: 20px;
    display: block;
    font-size: 14px;

    font-weight: bold;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    color: black;

    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(
            75deg,
            #2563EB,
            #06B6D4,
            #7C3AED,
            #2563EB
        ) border-box;

    background-size: 150% 150%;
}

/*
    TRANSITIONS
*/

.nav-card{
    transition:
        transform .15s ease,
        border-color .2s ease,
        background-color .2s ease;
        /* box-shadow .2s ease; */
}

.nav-card:hover{
    text-decoration:none;
    color:inherit;
    transform:translateX(4px);
    border-color:#2563eb;
    background:#fbfcff;
    box-shadow:0 4px 12px rgba(37,99,235,.08);
}

.sidebar-toggle:hover{
    transform:translateY(-1px);
    box-shadow:0 4px 10px rgba(0,0,0,.08);
}

.gradient-button,
.gradient-button-fill {
    transition:
        transform .15s ease,
        box-shadow .2s ease;
}

.gradient-button:hover,
.gradient-button-fill:hover {
    transform:translateY(-1px);
    box-shadow:0 6px 16px rgba(0,0,0,.08);
}

.gradient-side-nav a{
    transition:
        transform .15s ease,
        box-shadow .2s ease;
}

.gradient-side-nav a:hover{
    transform:translateY(-1px);
    box-shadow:0 6px 16px rgba(0,0,0,.08);
}

/* =========================
   BILDER
========================= */

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
